<!DOCTYPE html>
<html>

<link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/favicon.ico">

<script>
  (function(l){var i,s={touchend:function(){}};for(i in s)l.addEventListener(i,s)})(document); // sticky hover fix in iOS
</script>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include leancloud-analytics.html %}
    
  </body>

</html>
